.logo{
    height: 10vh;
}

.headerBox{
    height: 12vh;
    display: flex;
    align-items: center;
}

.headerItem{
    margin-left: 3vh;
}

h1{
    font-weight: 600;
}

h5{
    color: grey;
    margin-top: -1vh;

}

.info{
    position: fixed;
    float: right;
    right:15vw


}